version: "3.9"

services:
  web:
    build: .
    container_name: joia_oriental
    command: gunicorn ecommerce_project.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
